<div class="row">
  <ul>
    <li>News</li>
    <li>Business</li>
    <li>Economy</li>
    <li>Science</li>
    <li>Health</li>
    <li>Technology</li>
    <li>Arts and Culture</li>
    <li>Education</li>
    <li>Conversations</li>
    <li>Sports</li>
  </ul>
</div>
