<div>
  <%= image_tag "rr.jpg", size: "240x80" %> 
</div>
<div class="row right">
  <ul>
    <a href="#">News</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Business</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Economy</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Science</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Health</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Technology</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Arts and Culture</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Education</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Conversations</a>
    <span>&nbsp; | &nbsp;</span>
    <a href="#">Sports</a>
  </ul>
</div>
