<div class="row top-nav">
    <p><%= Time.now.to_s %></p>
</div>
<div class="row logo-line">
  <%= image_tag "rr.jpg", size: "240x80" %> 
</div>
<div class="row news-category">
    <div class="category items envelope">
    <div class="col l2 news-item">News</div>
    <div class="col l2 news-item">Business</div>
    <div class="col l2 news-item">Science</div>
    <div class="col l2 news-item">Arts and Culture</div>
    <div class="col l2 news-item">Conversations</div>
    <div class="col l2 news-item">Sports</div>
      <!-- <ul>
        <a href="#">News</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Business</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Economy</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Science</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Health</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Technology</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Arts and Culture</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Education</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Conversations</a>
        <span>&nbsp; | &nbsp;</span>
        <a href="#">Sports</a>
      </ul> -->
    </div>
</div>
