<%= render "header" %>
<div class="row">
  <div class="col l4">Stroy Highlights</div>
  <div class="col l4">Main Story</div>
  <div class="col l4">Adverts &amp; Videos</div>
</div>

<!-- The main menu for the researchreporters website, the news platform are Business, Economy, Science, Health, Technology, Arts and Culture, Society, Education. Development, Conversations
 -->