div {
  border: 1px block $pure-red;
}

.row.top-nav {
  background-color: $jet-black;
  color: $pure-white;
  font-size: 11px;
  margin-bottom: 0;
  min-height: 2.5em;

  p {
    margin: 0;
    padding: 5px 3em 0;
  }
}

.row.logo-line {
  margin-bottom: 0;
}

.row.news-category {
  background-color: $light-grey;
}

.col.l2.news-item {
  color: $jet-black;
  margin-top: 0;
  min-height: 3em;
  padding-top: 0.8em;
  text-transform: uppercase;
}

.col.l6.left-image {
  background-color: $jet-black;
}

.col.l6.right-image {
  margin: 0;
  padding: 0;
}

.row.bottom-image {
  margin: 0;
  padding: 0 11.25px;
}

.row.top-image {
  margin: 0;
  padding: 0 11.25px;
}

.col.l6.bottom-part {
  margin: 0;
  padding: 0;
}
